<% include partials/header.ejs %>
    <main class="container">
        <p>
            My Favorite People are :
            <br />
            <li>
                <a href="#dada">My Grandfather </a>
            </li>
            <li>
                <a href="#salman">Salman Khan- A celebrity Of Indian Cinema </a>
            </li>
            <li>
                <a href="#mrbean">Mr Bean - A great Comadian/ master's in electrical engineering </a>
            </li>
        </p>
        <div class="row">
  
        <div class="col-sm-4">
        <p id="dada">
            <p>
            <img src ="images\dada-1.png"    alt="No image availabe" />
            </p>
            All of us like our family the most and i admire my grandfather the most in my family.
            When i used to live back in my country India. He was the person who stood beside me always 
            He always taught me how to handle any suitation on my own he taught me to be polite and to be on time every time
            he was the one who used to take me to the school bus stop every day 10 minutes early and eventually now i like getting to places before time
            he taught me not to response to the negativity and so now i feel good for evry thing
        </p> 
        </div>
        <div class="col-sm-4"> 
        <p id="salman">
            <p>
            <img src ="images\salman profile.jpg" alt="No image availabe" />
            </p>
            Abdul Rashid Salim Salman Khan (born 27 December 1965) better known as Salman Khan  is an Indian film actor, producer and television personality. He has a significant following in Asia and the Indian diaspora worldwide, and is cited in the media as one of the most popular and commercially successful actors of Hindi cinema.
            The son of screenwriter Salim, Khan began his acting career with a supporting role in Biwi Ho To Aisi (1988) and achieved breakthrough with a leading role in his next release — Sooraj Barjatya's romance Maine Pyar Kiya (1989). Khan went on to establish himself in Bollywood in the 1990s with roles in several top-grossing productions, including the romantic drama Hum Aapke Hain Koun..! (1994), the action thriller Karan Arjun (1995), the comedy Biwi No.1 (1999), and the family drama Hum Saath-Saath Hain (1999). For his role in Karan Johar's romantic drama Kuch Kuch Hota Hai (1998), Khan was awarded the Filmfare Award for Best Supporting Actor.
            </p> </div> 
            <div class="col-sm-4">              
         <p id="mrbean">
            <p>
            <img src ="images\mrbean.jpg" alt="No image availabe" />
            </p>
            Mr. Bean is a British sitcom created by Rowan Atkinson and Richard Curtis, and starring Atkinson in the title role. Atkinson co-wrote all fifteen episodes with either Curtis, Robin Driscoll, or both, with Ben Elton co-writing the pilot. Thirteen of the episodes were broadcast on ITV, from the pilot on 1 January 1990, until "Goodnight Mr. Bean" on 31 October 1995. A clip show, "The Best Bits of Mr. Bean", was broadcast on 15 December 1995, and one episode, "Hair by Mr. Bean of London", was not broadcast until 2006 on Nickelodeon.

Based on a character originally developed by Atkinson while he was studying for his master's degree at Oxford University, the series follows the exploits of Mr. Bean, described by Atkinson as "a child in a grown man's body", in solving various problems presented by everyday tasks and often causing disruption in the process. Bean rarely speaks, and the largely physical humour of the series is derived from his interactions with other people and his unusual solutions to situations. The series was influenced by physical performers such as Jacques Tati and comic actors from silent films.


            </p></div>
         </div>
    </main>
<% include partials/footer.ejs %>